body {
	background-color: #2c3e50;
	width: 100%;
}

/*==========  Media Queries Breakpoints  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    body { font-size: 16px; }
    h1 { padding-top: .5em; font-size: 3em; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	body { font-size: 16px; }
	h1 { padding-top: .5em; font-size: 3em;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body { font-size: 16px; }
	h1 { padding-top: .5em; font-size: 3em;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body { font-size: 16px; }
	h1 { padding-top: 1em; font-size: 5em; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body { font-size: 14px; }
	h1 { padding-top: 1.25em; font-size: 5em; }
}

/*==========  Other Styles  ==========*/

/* Annotation Styles */

/*.annotations, :root {
	--annotation-color: "#FFDEAD";
		/*"white"*/
}
*/
/* Other Styles */


.team {
  text-align: center;
  /*margin: 0;*/
  /*padding: 0;*/
}

svg {
	/*border: 1px white solid;*/
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Racing Sans One', sans-serif;
	/*font-size: 5.5em;*/
	/*padding-top: 1em;*/
}

h4, #footnotes {
	text-align: center;
	color: white;
	font-family: "Inconsolata", monospace;
	padding-bottom: 3em;
}

#footnotes {
	padding-top: 3em;
}

a {
	color: white;
	border-bottom: 1px solid white;
}

a:hover {
   color: black;
   border-bottom: 0px solid white;
   text-decoration: none;
   background-color: #f1c40f;
}

.teamname {
	font-family: "Inconsolata", monospace, sans-serif;
	font-size: 1.75rem;
}

.teamselector {
	text-align: center;
}

.bar-tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  margin-top: -30px;
  background-color: rgba(255, 255, 255, 0.95);
  pointer-events: none;
  border: 1px black solid;
  border-radius: 1px;
  font-family: 'Inconsolata', monospace
}

svg text {
	font-family: "Inconsolata", monospace;
	font-size: 1.5rem;
	fill: white;
}

.axis path, .tick line  {
	stroke: white;
}