body {
	background-color: #2c3e50;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Racing Sans One', sans-serif;
	font-size: 5.5rem;
	padding: 1em 0em 0em 0em;
}

h4, #footnotes {
	text-align: center;
	color: white;
	font-family: "Inconsolata", monospace;
	padding-bottom: 3em;
}

#footnotes {
	padding-top: 3em;
}

a {
	color: white;
	/*background-color: #f1c40f;*/
}

a:hover {
   color: black;
   text-decoration: none;
   background-color: #f1c40f;
}

.teamname {
	font-family: "Inconsolata", monospace, sans-serif;
	font-size: 1.75rem;
}

.teamselector {
	text-align: center;
}

.positive-gradient {
    fill: url(#positiveGradient);
    fill: #2ecc71;
}

.negative-gradient {
    fill: url(#negativeGradient);
    fill: #e74c3c;
}

.bar-tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  margin-top: -30px;
  background-color: rgba(255, 255, 255, 0.95);
  pointer-events: none;
  border: 1px black solid;
  border-radius: 1px;
  font-family: 'Inconsolata', monospace
}

svg text {
	font-family: "Inconsolata", monospace;
	font-size: 1.5rem;
	fill: white;
}

.axis path, .tick line  {
	stroke: white;
}