.team {
	/*border: black 1px solid;*/
}

.positive-gradient {
    fill: url(#positiveGradient);
}

.negative-gradient {
    fill: url(#negativeGradient);
}

.bar-tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  margin-top: -30px;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: none;
}